@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.wrapper h1{
 color: white;
 font-size: 65pt;
 font-weight:  bolder;
 position: relative;
 right: -254px;
}
.wrapper img{
	position: relative;
	right: 450px;
	padding-left: 30px;
	padding-top: 10px;
}
.wrapper h2{
 display: inline-block;
 color: white;
 font-size: 30pt;
 font-weight: lighter;
 position: relative;
 top: -50px;
 right: -327px;
 margin: 0;

}

.wrapper h4{
 color: white;
 font-size: 16pt;
 font-weight: bolder;
 margin: 14px 0 20px;
 position: relative;
 top: -80px;
 right: -1100px;
 padding-left: 20px;
	padding-top: 10px;
}
.wrapper h3{
	color: white;
	position: relative;
	top: 450px;
	right: -780px;
	font-size: 26px;
	margin-bottom: 30px;
}
.wrapper h5{
	color: white;
	position: relative;
	top: 380px;
	right: -780px;
	font-size: 23px;
	padding: 20px, 20px;

}
.wrapper input{
	position: relative;
	top: 370px;
	right: -780px;
 width: 352px;
 height: 38px;
 margin-bottom: 20px;
}

.wrapper button{
	position: relative;
	top: 370px;
	right: -780px;
	width: 252px;
 height: 38px;
 background-color: black;
 color: white;
}
	

.wrapper {
	z-index: 2;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.BANNER{
		background-color: black;
		height: 1400px;
		padding: 0 2px;
}
.rocket{
	background: url(../img/rocket.jpg) no-repeat 0 0;
	background-size: 50%;
	height: 800px;
	width: 4200px;
	position: relative;
	 top: -860px; 
	 right: 267px;
}

.ck{
	background: url(../img/ck.png) no-repeat 0 0;

	height: 597px;
	width: 595px;
		position: relative;
	 top: -1255px; 
	 right: 450px;
	 height: 5800px;
	 width: 55000px;
}
.more-info{
	width: 960px;
	margin: 0 auto;
}
.more-info h1{
	text-align: center;
	font-size: 80px;
	font-weight: 1000;
	font-weight: bolder;
}
.more-info p{
	text-align: center;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
.more-info button{
position: relative;
	top: -200px;
	right: -1200px;
	width: 100px;
 height: 100px; 
border-width: medium;
font-size: 50px;

}
.benefits h2{
	text-align: center;
}
.sep{
	width: 2000px;
	height: 5px;
	background-color: #111111;
	margin: 70px auto;
}
/*<div class="BANNER" id="HOMEPAGE">
		
		 <a href="#" class="logo">CK</a>
		<h4>1-800-CHRIS-KAY </h4>
		<h1>You're Ready for Lift-Off</h1>
		<h2>Value Statement Sub-Heading Goes Here</h2>
	</div>
	<div log-in>
		<h2> FIRE YOUR ENGINES!</h2>
		<h2> CTA Fill Out Copy Goes Here</h2>
		<input type="text" placeholder="ENTER YOUR NAME"><br>
		<input type="text" placeholder="PHONE NUMBER"><br>
		<input type="text" placeholder="EMAIL"><br>
		<button class="option in">Option-In</button>
	</div>

		<div class="rocket"></div>
		<div class="ck"></div>
		<div class="rectangle"></div>*/