@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.wrapper h1{
 color: white;
 font-size: 65pt;
 font-weight:  bolder;
 position: relative;
 right: -254px;
}
.wrapper img{
	position: relative;
	right: 450px;
	padding-left: 30px;
	padding-top: 10px;
}
.wrapper h2{
 display: inline-block;
 color: white;
 font-size: 30pt;
 font-weight: lighter;
 position: relative;
 top: -50px;
 right: -327px;
 margin: 0;

}

.wrapper h4{
 color: white;
 font-size: 16pt;
 font-weight: bolder;
 margin: 14px 0 20px;
 position: relative;
 top: -80px;
 right: -1100px;
 padding-left: 20px;
	padding-top: 10px;
}
.wrapper h3{
	color: white;
	position: relative;
	top: 450px;
	right: -780px;
	font-size: 26px;
	margin-bottom: 30px;
}
.wrapper h5{
	color: white;
	position: relative;
	top: 380px;
	right: -780px;
	font-size: 23px;
	padding: 20px, 20px;

}
.wrapper input{
	position: relative;
	top: 370px;
	right: -780px;
 width: 352px;
 height: 38px;
 margin-bottom: 20px;
}

.wrapper button{
	position: relative;
	top: 370px;
	right: -780px;
	width: 252px;
 height: 38px;
 background-color: black;
 color: white;
}
	

.wrapper {
	z-index: 2;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.BANNER{
		background-color: black;
		height: 1400px;
		padding: 0 2px;
}
.rocket{
	background: url(../img/rocket.jpg) no-repeat 0 0;
	background-size: 50%;
	height: 800px;
	width: 4200px;
	position: relative;
	 top: -860px; 
	 right: 267px;
}

.ck{
	background: url(../img/ck.png) no-repeat 0 0;

	height: 597px;
	width: 595px;
		position: relative;
	 top: -1255px; 
	 right: 450px;
	 height: 5800px;
	 width: 5500px;
}
.more-info{
	width: 960px;
	margin: 0 auto;
}
.more-info h1{
	text-align: center;
	font-size: 80px;
	font-weight: 1000;
	font-weight: bolder;
}
.more-info p{
	text-align: center;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
.more-info button{
position: relative;
	top: -200px;
	right: -1200px;
	width: 50px;
 height: 50px; 
border-width: medium;
font-weight: bolder;

font-size: 25px;

}
.benefits h2{
	text-align: center;
}
.horizontal{
	position: relative;
	top: -200px;
	right: -420px;
	width: 1000px;
	height: 5px;
	background-color: #111111;
}
.vertical1{
	position: relative;
	top: -220px;
	right: -930px;
	width: 5px;
	height: 60px;
	background-color: #111111;
}
.vertical2{	
	position: relative;
	top: -260px;
	right: -420px;
	width: 5px;
	height: 37px;
	background-color: #111111;}
.vertical3{
	position: relative;
	top: -300px;
	right: -1416px;
		width: 5px;
	height: 37px;
	background-color: #111111;
}
.benefits h1 {
	border-top: 0px;
	text-align: center;
}
.benefits h2 {
position: relative;
	top: 15px;
	right: 488px;
}
.benefits h3 {
position: relative;
	top: -45px;
	right: -925px;
	font-size: 25px;
	margin-top: 10;

}
.benefits h4 {
position: relative;
	top: -110px;
	right: -1415px;
	font-size: 20px;
}
.benefits button{
position: relative;
	top: -170px;
	right: -790px;
	width: 252px;
 height: 38px;
 border-width: medium;
 font-weight: bolder;
}

.column1 {
  float: left;
  width: 33.33%;
position: relative;
	top: -210px;
	
	margin: 0 auto;
	
}

/* Clear floats after the columns */
.row1:after {
  content: ;
  display: table;
  clear: both;
}
.sep{
	width: 1700px;
	height: 5px;
	background-color: #111111;
	margin: 70px auto;
	position: relative;
	top: -150px;
}

#icon {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}
#icon img{
		display: block;
		margin-left: auto;
		margin-right: auto;

}

#title {
	font-weight: bolder;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
}

#rocket {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}
#rocket img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		right: 400px;

}

.container {
	width: 100%;
	display: flex;
		
		padding: 50px;
box-sizing: border-box;
flex-direction: row;

}
.container img {
	width: 400px;
	position: relative;
		right: -50px;
		overflow: hidden;
}

.description1 h2 {
	
	width: 260px;
	word-wrap: break-word;
	position: relative;
	top: -195px;
	right: -140px;
	color: white;
}

.description1 h3 {
	
	width: 120px;
	word-wrap: break-word;
	position: relative;
	top: -135px;
	right: -180px;
	background-color: white;
}

.description1 p {
	
	width: 350px;
	height: 100px;
	
	text-indent: 20px;
	position: relative;
	top: -100px;
	right: -100px;
	font-size: 24px;
	
}

.description2 h2 {
	
	width: 260px;
	word-wrap: break-word;
	position: relative;
	top: -195px;
	right: -140px;
	color: white;
}

.description2 h3 {
	
	width: 120px;
	word-wrap: break-word;
	position: relative;
	top: -135px;
	right: -180px;
	background-color: white;
}

.description2 p {
	
	width: 350px;
	height: 100px;
	top: -100px;
	right: -100px;
	text-indent: 20px;
	position: relative;
	
	font-size: 24px;
	
}

.description3 h2 {
	
	width: 260px;
	word-wrap: break-word;
	position: relative;
	top: -195px;
	right: -140px;
	color: white;
}

.description3 h3 {
	
	width: 120px;
	word-wrap: break-word;
	position: relative;
	top: -135px;
	right: -190px;
	background-color: white;
}

.description3 p {
	
	width: 350px;
	height: 100px;
	top: -100px;
	right: -100px;
	text-indent: 20px;
	position: relative;
	
	font-size: 24px;
	
}



.internalconteinerL{
	flex: 1;
	flex-direction: row;
padding: 30px;


}

.internalconteinerM{
flex: 1;
flex-direction: row;
padding: 30px;

}

.internalconteinerR{
flex: 1;
flex-direction: row;
padding: 30px; 

}

@media screen and (max-width: 760px){
	.container{
		flex-direction: column-reverse;
	}
}
.sep{
	width: 1700px;
	height: 5px;
	background-color: #111111;
	margin: 70px auto;
	position: relative;
	top: -150px;
}
.story2{
	width: 960px;
	margin: 0 auto;
}
.story2 h1{
	text-align: center;
	font-size: 80px;
	font-weight: 1000;
	font-weight: bolder;
}
.story2 h2{
	text-align: center;
	font-size: 20px;
	
	font-weight: bolder;
}
.story2 p{
	text-align: center;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
}
.story2 button{
position: relative;
	top: -200px;
	left:  -400px;
	width: 70px;
 height: 70px; 
border-width: medium;
font-size: 25px;
font-weight: bolder;

}
 
 nav {
 	background-color: black;

 }
 nav ul{
 	list-style-type: none;
  
 }

 nav ul li {
 	display: inline-block;
 	padding: 5px 5px 20px;
 }
 nav a {
 	text-decoration: none;
 	color: white;
 	font-weight: bolder;

 }


 nav button{
 	 height: 50px;
 	 width: 200px;
 	 text-align: left;
 	 font-size: 20px;
border: 5px solid;
 	 border-width: thin; 
 border-color: white;
 background-color: black;
 color: white;
 letter-spacing: 0.1em;
 word-spacing: 30px;

 }
 nav button{
 	position: relative;
 	right: -850px; 
 }
/*<div class="BANNER" id="HOMEPAGE">
		
		 <a href="#" class="logo">CK</a>
		<h4>1-800-CHRIS-KAY </h4>
		<h1>You're Ready for Lift-Off</h1>
		<h2>Value Statement Sub-Heading Goes Here</h2>
	</div>
	<div log-in>
		<h2> FIRE YOUR ENGINES!</h2>
		<h2> CTA Fill Out Copy Goes Here</h2>
		<input type="text" placeholder="ENTER YOUR NAME"><br>
		<input type="text" placeholder="PHONE NUMBER"><br>
		<input type="text" placeholder="EMAIL"><br>
		<button class="option in">Option-In</button>
	</div>

		<div class="rocket"></div>
		<div class="ck"></div>
		<div class="rectangle"></div>*/